<div class="titrePerConct">
  <h2>PERSONNE CONNECTE</h2>
  <h3>personne1</h3>
  <h3>personne2</h3>
  <h3>personne3</h3>
</div>
<div class="recpMsg">

  <table>
    <tr>
      <th>nom</th>
      <th>pseudo</th>
      <th>email</th>
      <th>password</th>
    </tr>
    <tr *ngFor = "let msg of messages">
        <td>{{msg.nom}}</td>
        <td>{{msg.pseudo}}</td>
        <td>{{msg.email}}</td>
        <td>{{msg.password}}</td>
    </tr>
  </table>

</div>
<div class="titreTchat">
  <h2 class="titreTchat">TCHAT</h2>
  <input class="boiteMsg" type="text" placeholder="taper message">
  <button class="btEnv">ENVOYER</button>
</div>