.titrePerConct{
    border: solid 1px #248dd8 ; 
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    
}
.boiteMsg{
    width: 93%;
    padding: 8px;
    border: solid 2PX #248dd8 ;
    border-right: white;
}
.btEnv{
    padding: 8px;
    background-color: rebeccapurple;
    color: white;
    border-color: #248dd8 ;
}


.tableauMess{
    border: #248dd8 solid 2px;
}
.tableauMess table{
    display:flex;
    justify-content: center;
}
table{
    padding: 20px;
}
.titreTchat
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    margin-top: 160px;
}
