h1{
    color: teal;
    text-align: center
}
.nomPass{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 180px;
        
    }
input,a{
    margin: 15px;
}
button{
    border-radius: 10px;
}
