<h1>CREATE YOUR NEW ACCOUNT</h1>

  <h2>Veuillez compléter le formulaire ci-dessous :</h2>

  <div id="nomClt">
    
    <label>Entrer votre nom</label>
    <input type="text" placeholder="Nom" autofocus required>
    
    <label>Entrer votre pseudo</label>
    <input type="text" placeholder="Pseudo" autofocus required>
    
    <label>Entrer votre password</label>
    <input type="text" placeholder="Password" required>

    <label>Confirmer votre password</label>
    <input type="text" placeholder="Password" required>

    <button routerLink="displayMsg">Valider</button>

  </div>

