<h1>CREATE YOUR NEW ACCOUNT</h1>

<div id="nomClt">
  <form action="/action_page.php">
    <fieldset>
    <legend>Veuillez compléter le formulaire</legend>
      <label>Entrer votre nom</label>
    <input class="inputCreat" type="text" #nome placeholder="Nom" autofocus required>

  <div id="nomClt">

    <label>Entrer votre nom</label>
    <input type="text" #nome placeholder="Nom" autofocus required>

    <label>Entrer votre pseudo</label>
    <input type="text" #pseudoe placeholder="Pseudo" autofocus required>

    <label>Entrer votre e-mail</label>

    <label>Entrer votre password</label>
    <input type="password"  #passe placeholder="Password" required>

    <button routerLink="displayMsg" (click) = "creatUser(passe, emaile, pseudoe, nome)">Valider</button>

  </div>
  <!-- ici on recupere la valeur saisie -->
  <!-- <input type="text" #msge placeholder="entrer nom">
<button (click) = "affMsg(msge.value)">recupérer saisie</button> -->
<p>{{ pass }}</p>
<p>{{ email }}</p>
<p>{{ pseudo }}</p>
<p>{{ nom }}</p>