*{margin : 0 ;
   Padding : 0 ;
   Border : 0 ; /*fait sauter les bordures bleues des cadres */
   Outline : 0 ; /* permet d’enlever la tabulation (pour les males voyants on la                                                                               r                               remettra pour le nav)*/ 
}


h1{
    color: white;
    text-align: center
}
.btn{
    color: white;
    background: rebeccapurple;
    padding: 10px;
    margin: 10px;
}
.container{
    background: rebeccapurple;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}
.nav{
    justify-content: space-evenly;
    display: flex;
    background: #248dd8;
    margin: 60px;
    margin-left: -8px;
    margin-right: -8px;
    }
input,a{
    margin: 15px;
}

button{
    border-radius: 10px;
}
a{
    text-decoration: none;
}