h1,h2{
    color: rgb(107, 0, 128);
    text-align: center;
}
fieldset {
    width: 50%;
}
.nomPass{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        margin-top: -123px;
      
        
    }
input{
    margin: 15px;
}
input:required
{
    border-color: #248dd8;
    padding: 5px;
}
label{
    margin: auto;
    margin-left: 490px;  
    font-weight: bold;
}
button{
    border-radius: 10px;
    color: white;
    background-color: #248dd8;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 60%;
    margin-top: 10px;
    cursor: -webkit-grab; cursor: grab;
}

.inputSpeudo{
margin-left: 30px;
}
form{
    background-image: url("img/fond.png");
    background-size: auto;
    height: 200px;
    padding-top: 50px;
}
